# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform vars (可能包含敏感信息；你现在用 tfvars 放公钥也可以保留，如果不想公开就忽略)
# *.tfvars
# *.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan
*.plan

# CLI config
.terraformrc
terraform.rc

# Keys / secrets (非常重要)
**/id_rsa
**/id_rsa.pub
**/terraform_lab_id_rsa
**/terraform_lab_id_rsa.pub
**/*.pem
**/*.key

# OS/Editor
.DS_Store
.vscode/
.idea/
